@page "/product/edit/{id:int}"
@attribute [Authorize]
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IWebHostEnvironment Env
@inject IConfiguration configuration
@inject IJSRuntime JsRuntime
@inject IApiService ApiService
@inject IHttpContextAccessor HttpContextAcessor
@inject UserManager<ApplicationUser> UserManager

<h3>Adicionar Produto</h3>

<EditForm OnValidSubmit="OnSubmit" Model="@Model" FormName="addProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label class="form-label">Nome:</label>
        <InputText @bind-Value="Model.Name" class="form-control" style="max-width: 60%" />
    </div>
    <div class="mb-3">
        <label class="form-label">Preço:</label>
        <InputNumber @bind-Value="Model.Price" class="form-control" style="max-width: 60%" />
    </div>
    <div class="mb-3">
        <label class="form-label">Descrição:</label>
        <InputText @bind-Value="Model.Description" class="form-control" style="max-width: 60%" />
    </div>
    <div class="mb-3">
        <label class="form-label">Tipo:</label>
        <InputSelect @bind-Value="Model.TypeId" class="form-select" style="max-width: 60%">
            @if (ProductsType == null || ProductsType.Count == 0)
            {
                <option selected value=""></option>
            }
            @foreach (ProductTypeDTO productType in ProductsType)
            {
                if (productType.Id == Model.TypeId)
                {
                    <option selected value="@productType.Id">@productType.TypeName</option>
                }
                else
                {
                    <option value="@productType.Id">@productType.TypeName</option>
                }
            }
        </InputSelect>
    </div>
    <div class="mb-3">
        <label class="form-label">Imagem:</label>
        <BlazorInputFile.InputFile OnChange=HandleFileSelected class="form-control" style="max-width: 60%" />
        @if (!string.IsNullOrEmpty(_imageDataUrl))
        {
            <img src="@_imageDataUrl" height="200" width="200" class="img-fluid border border-dark mt-3 mb-3" />
        }
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</EditForm>

@code {
    private IFileListEntry? _file;
    private MemoryStream? _msFile;
    private string? _imageDataUrl;
    private ProductDTO Model { get; set; } = new ProductDTO();
    List<ProductTypeDTO> ProductsType { get; set; } = new List<ProductTypeDTO>();
    [Parameter]
    public int Id { get; set; }
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal CurrentUser;
    private ApplicationUser user = default!;
    private int _companyId;

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = (await authenticationStateTask).User;
        if (CurrentUser.Identity.IsAuthenticated)
        {
            user = await UserManager.GetUserAsync(CurrentUser);
            _companyId = user.CompanyId;
        }
        var url = configuration["ApiLinks:ProductGetById"];
        GenericCommandResult commandResult = await ApiService.GetById<ProductDTO>(url, HttpContextAcessor.HttpContext.Request.Cookies["Token"].ToString(), Id.ToString());
        if (commandResult.Sucess && commandResult.Data is ProductDTO)
        {
            Model = (ProductDTO)commandResult.Data;
            _imageDataUrl = string.Format("data:image/png;base64, {0}", Model.Image);
        }
        else
            await JsRuntime.InvokeVoidAsync("Alert", "Produto não encontrado!");
        url = configuration["ApiLinks:ProductTypeGetAll"];
        commandResult = await ApiService.Get<List<ProductTypeDTO>>(url, HttpContextAcessor.HttpContext.Request.Cookies["Token"].ToString(), _companyId);
        if (commandResult.Sucess && commandResult.Data is List<ProductTypeDTO> productsTypeApi)
            ProductsType = productsTypeApi;
    }

    private async void OnSubmit()
    {
        var url = configuration["ApiLinks:ProductUpdate"];
        GenericCommandResult commandResult = await ApiService.PutAsJsonAsync<ProductDTO>(url, HttpContextAcessor.HttpContext.Request.Cookies["Token"].ToString(), Model);
        if (commandResult.Sucess)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Produto alterado!");
            navigationManager.NavigateTo(configuration["ApplicationLinks:ProductManager"]);
        }
        else
            await JsRuntime.InvokeVoidAsync("alert", "Produto não alterado!");
    }

    private async Task HandleFileSelected(IFileListEntry[] files)
    {
        try
        {
            _file =  files.FirstOrDefault();
            if (_file != null)
            {
                string name = _file.Name;
                _msFile = new MemoryStream();
                await _file.Data.CopyToAsync(_msFile);
                StreamReader reader = new StreamReader(_file.Data);
                string asBase64String = Convert.ToBase64String(_msFile.ToArray());
                Model.Image = asBase64String;
                _imageDataUrl = string.Format("data:image/png;base64, {0}", asBase64String);
            }
        }
        catch (Exception ex)
        {

        }
    }
}

