@page "/{CompanyName}/{TableGuid:guid}/product/selection"


@inject IConfiguration configuration
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime
@inject IHttpContextAccessor HttpContextAcessor
@inject IApiService ApiService
@layout MenuQR.Application.Components.Layout.CustomerLayout
@inject StateContainer stateContainer
@inject NavigationManager navigationManager
@inject IHttpContextAccessor HttpContextAcessor
@inject IModalServices modalServices
<MenuQR.Application.Components.Utilities.BlazoredModal />
@if (Products.Count == 0) { }
else
{
    <div class="scroll-container-top d-flex justify-content-around">
        @foreach (ProductTypeDTO productType in ProductsType)
        {
            <a @onclick="() => SetFocus(productType.Id)" class="nav-item nav-link">@productType.TypeName</a>
        }
    </div>
    <div style="padding-top: 60px"></div>
    <EditForm OnValidSubmit="@HandleValidSubmit" Model="@OrderProducts" FormName="addOrder" class="container">
        <DataAnnotationsValidator />
        <ValidationSummary />
        @foreach (ProductDTO product in Products)
        {
            <div class="justify-content-center shadow-sm rounded mt-60 mb-2 @string.Concat("typeProduct", product.ProductTypeId)">
                <div class="row">
                    <div class="col-4 ">
                        <img height="100" width="115" src="@string.Format("data:image/png;base64, {0}", product.Image)" alt="Product 1" class="rounded">
                    </div>
                    <div class="col-8 d-flex flex-column">
                        <h2 class="col-sm">@product.Name</h2>
                        <div>
                            <p class="small mb-0" style="line-height: 1.5em; height: 3em; overflow: hidden;">
                                @if (product.Description.Length > 40)
                                {
                                    @product.Description.Substring(0, 60)
                                    <span>...</span>
                                    <a @onclick="(() => ShowModal(product))" class="pe-auto">Ver Mais</a>
                                }
                                else
                                {
                                    @product.Description
                                    <span>.</span>
                                    <a @onclick="(() => ShowModal(product))" class="pe-auto">Ver Mais</a>
                                }
                            </p>
                        </div>
                        <div class="mt-auto d-flex align-items-center justify-content-between">
                            <p class="mb-0">R$ @product.Price.ToString("0.00")</p>
                            <div class="col-6  d-flex justify-content-end align-items-center justify-content-between">
                                <p @onclick="() => ChangeAmount(false, product)" class="col-3 text-secondary mb-0 d-flex justify-content-center" style="font-size: 20px">-</p>
                                <p id="@string.Concat("amount", product.Id)" class="mb-0 me-1 ms-1">0</p>
                                <p @onclick="() => ChangeAmount(true, product)" class="col-3 text-danger mb-0 d-flex justify-content-center" style="font-size: 20px">+</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </EditForm>
    <CascadingValue Value="@CompanyName">
        <CascadingValue Value="@TableGuid">
            <footer class="footer text-center scroll-container-bottom" style="margin-top: auto">
                <DownBarButtons OnButtonClick="@OnSubmit" />
            </footer>
        </CascadingValue>
    </CascadingValue>
    <div style="padding-top: 60px"></div>
}
<script>
    function IncreaseAmount(increase, productId) {
        let amount = document.getElementById("amount" + productId).innerHTML;
        if (amount === '0' && !increase)
            return 0;
        else if (amount === '99' && increase)
            return;
        if (increase) {
            amount++;
        }
        else {
            amount--;
        }
        document.getElementById("amount" + productId).innerHTML = amount
        return amount;
    }
    function SetFocus(typeProductId) {
        var element = document.getElementsByClassName("typeProduct" + typeProductId)[0];
        var headerOffset = 70;
        var elementPosition = element.getBoundingClientRect().top;
        var offsetPosition = elementPosition + window.pageYOffset - headerOffset;

        window.scrollTo({
            top: offsetPosition,
            behavior: "smooth"
        });
    }
</script>



@code {
    List<ProductDTO> Products { get; set; } = new List<ProductDTO>();
    List<ProductTypeDTO> ProductsType { get; set; } = new List<ProductTypeDTO>();
    List<OrderProductDTO> OrderProducts { get; set; } = new List<OrderProductDTO>();
    public OrderDTO Model { get; set; }
    [Parameter]
    public string CompanyName { get; set; }
    [Parameter]
    public Guid TableGuid { get; set; }
    private int _companyId;




    protected override async Task OnInitializedAsync()
    {
        var url = configuration["ApiLinks:ProductGetAll"];
        if (HttpContextAcessor.HttpContext.Request.Cookies["Token"] == null)
            navigationManager.NavigateTo($"/Error");
        _companyId = int.Parse(HttpContextAcessor.HttpContext.Request.Cookies["CompanyId"].ToString());
        GenericCommandResult commandResult = await ApiService.Get<List<ProductDTO>>(url, HttpContextAcessor.HttpContext.Request.Cookies["Token"].ToString(), _companyId);
        if (commandResult.Sucess && commandResult.Data is List<ProductDTO> productsApi)
            Products = productsApi.Where(x => x.Active).OrderBy(x => x.ProductTypeId).ToList();
        else
            await JsRuntime.InvokeVoidAsync("alert", "Ocorreu um erro, contate a administração");
        url = configuration["ApiLinks:ProductTypeGetAll"];
        commandResult = await ApiService.Get<List<ProductTypeDTO>>(url, HttpContextAcessor.HttpContext.Request.Cookies["Token"].ToString(), _companyId);
        if (commandResult.Sucess && commandResult.Data is List<ProductTypeDTO>)
            ProductsType =  commandResult.Data as List<ProductTypeDTO>;
        else
            await JsRuntime.InvokeVoidAsync("alert", "Ocorreu um erro, contate a administração");
        StateHasChanged();

    }

    public async void OnSubmit()
    {
        if (OrderProducts.Count == 0)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Carrinho vazio.");
            return;
        }
        stateContainer.ObjectTunnel.Add(OrderProducts.GetHashCode(), OrderProducts);
        navigationManager.NavigateTo(CompanyName + "/" + TableGuid + configuration["ApplicationLinks:ProductSelectionConfimation"] + OrderProducts.GetHashCode());
    }

    protected async void ChangeAmount(bool increase, ProductDTO product)
    {
        object[] args = { increase, product.Id };
        int amount = await JsRuntime.InvokeAsync<int>("IncreaseAmount", args);

        if (amount == 0)
        {
            if (OrderProducts.Where(x => x.ProductId == product.Id).ToList().Count() != 0)
                OrderProducts.RemoveAll(x => x.ProductId == product.Id);
            return;
        }
        else if (OrderProducts.Count == 0  || OrderProducts.Where(x => x.ProductId == product.Id).ToList().Count() == 0)
            OrderProducts.Add(new OrderProductDTO { Product = product, Amount = amount, ProductId = product.Id, CompanyId = 1 });
        else if (OrderProducts.Where(x => x.ProductId == product.Id).First().Amount > 0)
            OrderProducts.Where(x => x.ProductId == product.Id).First().Amount = amount;
    }

    private void HandleValidSubmit()
    {
        // Lógica de submissão do formulário
    }

    protected async void SetFocus(int typeProductId)
    {
        await JsRuntime.InvokeVoidAsync("SetFocus", typeProductId);
    }

    void ShowModal(ProductDTO product)
    {
        var parameters = new ModalParameters();
        parameters.Add("ProductName", product.Name);
        parameters.Add("ProductDescription", product.Description);
        parameters.Add("ProductImage", product.Image);
        var modalOptions = new ModalOptions() { DisableBackgroundCancel = true, HideCloseButton = false, HideHeader = false };
        modalServices.OnClose += ModalClose;
        modalServices.Show(typeof(Popup), product.Name, parameters, modalOptions);
        this.StateHasChanged();
    }
    void ModalClose(ModalResult modalResult)
    {
        Console.WriteLine("Modal closed");
        if (modalResult.Cancelled)
            Console.WriteLine("Modal cancelled");
        else
            Console.WriteLine(modalResult.Data.ToString());

        modalServices.OnClose -= ModalClose;
    }
}